<form class="form-auth" ng-submit="register(userForm.$valid)" novalidate>
  <h2>Register</h2>
  <p class="text-warning">{{error_message}}</p>
  <input
    type="email"
    validate-email name='email'
    ng-model="user.email"
    placeholder="Email"
    class="form-control input-lg"><br>
  <input
    type="username"
    ng-model="user.username"
    placeholder="Username"
    class="form-control input-lg"
    ng-minlength="3"
    required><br>
  <input
    type="password"
    ng-model="user.password"
    placeholder="Password"
    class="form-control input-lg"
    ng-minlength="3"
    required><br>
  <input type="submit" value="Register" class="btn btn-block btn-primary btn-lg" />
</form>